@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('./login.css');
@import url('./chat.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: none;

    background: #111;
    color: white;
}

.container {
    position: relative; 

    width: 100vw;   
    height: 100vh;

    display: none;
    justify-content: center;
    align-items: center;
}

.display {
    display: flex;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #181818;
}

*::-webkit-scrollbar-thumb {
    background-color: #979797;
    border-radius: 20px;
    border: 3px solid #464343;
    cursor: pointer;
}